*{
    font-family: 'Noto Serif TC', serif;

    /* border: 1px solid red; */
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    position: relative;
}

span
{
    /* margin-bottom: 30px;
    margin-top: 0px; */
    width: 50%;
    height: fit-content;
}

p
{
    line-height: 60px;
}

a{
    text-decoration: none;
}

body, html{
    width: 100%;
    height: 100%;
    overflow: auto;
    background-size: 100% 100%;
}

body{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}