@media (max-width: 767px)
{
    /* body */

    /* .MainPage */

    .PageTop{
        font-size: 35px;
        letter-spacing: 7px;
        text-shadow: -1.5px 1.5px #707070;
        padding: 15px;
    }

    .guide{
        height: 80%;
        width: 30%;
        margin: 1%;
        font-size: 20px;
        line-height: 60px;
        box-shadow: -1px 1px 2px #707070;
    }

    .guide:hover{
        border-left: 10px ridge #A26CA2;
        box-shadow: -1px 3px 10px #707070;
    }
    
    .guideContainerOuter
    {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        height:80%;
    }

    .guideContainer
    {
        height: 30%;
    }

    .ContactContainer{
        line-height: 30px;
        font-size: 10px;
    }
    
    .contact{
        bottom: 5px;
        font-size: 10px;
    }
    
    .contact>div{
        margin-right: 1%;
    }

    .DataPage{
        width: 90%;
        height: 80%;
        border-radius: 10px;
        top: 15%;
        left: 5%;
    }
    
    .DataPageContent{
        width: 100%;
        height: 80%;
        left: 2%;
        border-radius: 10px;
        padding: 2%;
        box-shadow: -1px 1px 8px #707070;
    }
    
    .DataPageGuide{
        display: none;
        width: 30%;
        font-size: 15px;
        padding: 4px;
        top: 0;
        bottom: 8%;
    }
    
    .DataPageTitle{
        font-size: 35px;
    }

    .GuideTitle{
        margin-bottom: 20px;
        padding: 2px;
        border: 2px solid #182825;
    }

    .GuideTitle:hover{
        box-shadow: -1.3px 1.3px 4px #707070;
    }
    
    /* .GuideTitleClick */

    .DataPageTextContainer{
        width: 80%;
        height: 80%;
        font-size: 15px;
        line-height: 50px;
        letter-spacing: 4px;
    }
    
    /* .DataPageText */

    .DataPageX{
        top: 1%;
        right: 0.5%; 
    }
    /* .DataPageX:hover */

    .DataPageContent::-webkit-scrollbar {
        width: 10px;
    }
    
    .DataPageContent::-webkit-scrollbar-thumb {
        width: 10px;
    }

    .DataPageGuide::-webkit-scrollbar {
        width: 3px;
    }
    
    .DataPageGuide::-webkit-scrollbar-thumb {
        width: 3px;
    }

    span{
        width: 50%;
        height: 10%;
    }
    
    /* .DataPageText p */
    
    /* .DataPageText p span */
    
    /* .DataPageText>p img */
    
    .OPEN p{
        font-size: 18px;
        padding-left: 26px;
    }
    
    /* .StudentAssociationResources */
    
    /* .InstructionsForNewStudents */
    
    /* .AccommodationInformation */
    
    /* .CourseDescription */
    
    /* .OnlineResources */
    
    /* .FAQ */

    .OPENGuide{
        position: absolute;
        z-index: 10;
        font-size: 5px;
        left: 3%;
        top: 0.5%;
        opacity: 50%;
    }
}