body{
    background-color: #F2EFE8;
}

.MainPage{
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.PageTop{
    width: 100%;
    color: white;
    text-align: center;
    background-color: #B9CBBF;
    font-family: 'Noto Serif TC', serif;
}

.guide{
    opacity: 80%;
    cursor: pointer;
    background-color: #E4D7E4;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    color: #182825;
    transition: border-left 100ms ease-in-out, border-right 100ms ease-in-out;
}

/* .guide:hover */

.guideContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ContactContainer{
    background-color: #999999;
    width: 100%;
    font-weight: bold;
    color: #182825;
    text-align: center;
}

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .contact>div */

.DataPage{
    opacity: 90%;
    position: absolute;
    justify-content: end;
    display: none;
}

.DataPageContent{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-color: #D0D9D3;
    overflow-y: scroll;
}

.DataPageGuide{
    text-align: center;
    font-weight: bold;
}

.DataPageTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #182825;
    font-family: 'Noto Serif TC', serif;
}

.GuideTitle{
    cursor: pointer;
}

/* .GuideTitle:hover */

.GuideTitleClick{
    background-color: #D0D9D3;
}

.DataPageTextContainer{
    font-weight: bold;
}

.DataPageText{
    height: fit-content;
}

.DataPageX{
    z-index: 10;
    cursor: pointer;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
}

.DataPageX:hover{
    font-size: 110%;
    font-weight: bold;
}

.DataPageContent::-webkit-scrollbar {
    background-color: #f2efeb;
}

.DataPageContent::-webkit-scrollbar-thumb {
    background-color: gray;
}

.DataPageGuide::-webkit-scrollbar {
    background-color: none;
}

.DataPageGuide::-webkit-scrollbar-thumb {
    background-color: none;
}

/* span */

.DataPageText p{
    text-align: left;
}

.DataPageText p span{
    width: 100%;
}

.DataPageText>p img{
    width: 100%;
}

.OPEN p{
    color: #636363;
}

.StudentAssociationResources{
    background-image: url("../../assest/img/Entrance-StuAssociation.png");
    background-size: 100% 100%;
}

.InstructionsForNewStudents{
    background-image: url("../../assest/img/Entrance-FreshmanInfo.png");
    background-size: 110% 100%;
}

.AccommodationInformation{
    background-image: url("../../assest/img/Entrance-AccommodationInfo.png");
    background-size: 100% 100%;
}

.CourseDescription{
    background-image: url("../../assest/img/Entrance-CourseInfo.png");
    background-size: 100% 100%;
}

.OnlineResources{
    background-image: url("../../assest/img/Entrance-OnlineInfo.png");
    background-size: 100% 100%;
}

.FAQ{
    background-image: url("../../assest/img/Entrance-FAQ.png");
    background-size: 100% 100%;
}
