.PageTop{
    width: 100%;
    /* height: 15%; */
    font-size: 55px;
    color: white;
    text-align: center;
    background-color: #B9CBBF;
    font-family: 'Noto Serif TC', serif;
    letter-spacing: 7px;
    text-shadow: -1.5px 1.5px #707070;
    padding: 5px;
}

.MainPage{
    /* opacity: 30%; */

    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

body{
    background-color: #F2EFE8;
}

.guide{
    opacity: 80%;
    cursor: pointer;
    background-color: #E4D7E4;
    border-radius: 10px;
    height: 200px;
    width: 200px;
    margin: 1%;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #182825;
    line-height: 60px;
    box-shadow: -1px 1px 2px #707070;

    /* border-left: 0 ridge #A26CA2; */
    transition: border-left 100ms ease-in-out, border-right 100ms ease-in-out;
}
.guide:hover{
    /* padding-left: 10px; */
    border-left: 10px ridge #A26CA2;
    box-shadow: -1px 3px 10px #707070;
}

.guideContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ContactContainer{
    background-color: #999999;
    width: 100%;
    font-weight: bold;
    color: #182825;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
}

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 10px;
    font-size: 18px;
}

.contact>div{
    margin-right: 2%;
}

.guideContainerOuter{
    width: 100%;
    display: flex;
    flex-flow: column;
}

.DataPage{
    opacity: 90%;
    position: absolute;
    width: 80%;
    height: 87%;
    display: flex;
    border-radius: 10px;
    top: 13%;
    left: 1%;
    justify-content: end;
    display: none;
}

.DataPageContent{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-color: #D0D9D3;
    width: 80%;
    height: 85%;
    left: 2%;
    border-radius: 10px;
    padding: 2%;
    overflow-y: scroll;
    box-shadow: -1px 1px 8px #707070;
}

.DataPageGuide{
    width: 20%;
    /* display: flex;
    flex-flow: column; */
    text-align: center;
    font-size: 20px;
    padding: 4px;
    font-weight: bold;
    top: 0;
    /* overflow-y: scroll; */
    /* justify-content: flex-start;
    box-sizing: border-box; */
    bottom: 8%;
}

.DataPageTitle{
    /* width: 100%; */
    font-size: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #182825;
    font-family: 'Noto Serif TC', serif;
}

.GuideTitle{
    cursor: pointer;
    margin-bottom: 20px;
    padding: 2px;
    border: 2px solid #182825;
}
.GuideTitle:hover{
    box-shadow: -1.3px 1.3px 4px #707070;
}

.GuideTitleClick{
    background-color: #D0D9D3;
}

.DataPageTextContainer{
    width: 80%;
    height: 80%;
    font-size: 20px;
    line-height: 50px;
    letter-spacing: 4px;
    /* display: flex;
    justify-content: center; */
    font-weight: bold;
}

.DataPageText{
    /* top: 5%; */
    height: fit-content;
}

.DataPageX{
    top: 1%;
    right: 0.5%; 
    z-index: 10;
    cursor: pointer;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
}
.DataPageX:hover{
    font-size: 110%;
    font-weight: bold;
}

.DataPageContent::-webkit-scrollbar {
    width: 10px;
    background-color: #f2efeb;
}

.DataPageContent::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: gray;
}

.DataPageGuide::-webkit-scrollbar {
    width: 3px;
    background-color: none;
}

.DataPageGuide::-webkit-scrollbar-thumb {
    width: 3px;
    background-color: none;
}

span{
    /* cursor: pointer; */
    width: 50%;
    height: 10%;
}

.DataPageText p{
    text-align: center;
}

.DataPageText p span{
    width: 100%;
    text-align: center;
}

.DataPageText>p img{
    width: 100%;
}

.OPEN p{
    color: #737373;
    font-size: 17px;
    padding-left: 26px;
}

.StudentAssociationResources{
    background-image: url("../../assest/img/Entrance-StuAssociation.png");
    background-size: 100% 100%;
    /*display: flex;
    justify-content: center;
    align-items: center;*/
}

.InstructionsForNewStudents{
    background-image: url("../../assest/img/Entrance-FreshmanInfo.png");
    background-size: 110% 100%;
}

.AccommodationInformation{
    background-image: url("../../assest/img/Entrance-AccommodationInfo.png");
    background-size: 100% 100%;
}

.CourseDescription{
    background-image: url("../../assest/img/Entrance-CourseInfo.png");
    background-size: 100% 100%;
}

.OnlineResources{
    background-image: url("../../assest/img/Entrance-OnlineInfo.png");
    background-size: 100% 100%;
}

.FAQ{
    background-image: url("../../assest/img/Entrance-FAQ.png");
    background-size: 100% 100%;
}
