.LEFT .DataPageText p{
    text-align: start;
}
.StudentAssociation>.DataPageText>p>span:nth-child(1){
    color: brown;
}

.StudentAssociation>.DataPageText>p>span:nth-child(2),
.StudentAssociation>.DataPageText>p>span:nth-child(3),
.StudentAssociation>.DataPageText>p>span:nth-child(4),
.StudentAssociation>.DataPageText>p>span:nth-child(5),
.StudentAssociation>.DataPageText>p>span:nth-child(6){
    padding-left: 26px;
}

.NewStudentSchedule>.DataPageText>p>span:nth-child(1),
.NewStudentSchedule>.DataPageText>p>span:nth-child(5),
.NewStudentSchedule>.DataPageText>p>span:nth-child(8){
    color: brown;
}

.AccommodationSchedule>.DataPageText>p>span:nth-child(1),
.AccommodationSchedule>.DataPageText>p>span:nth-child(5),
.AccommodationSchedule>.DataPageText>p>span:nth-child(7),
.AccommodationSchedule>.DataPageText>p>span:nth-child(9){
    color: brown;
}

.Courses>.DataPageText>p>span:nth-child(3)>p>span:nth-child(1),
.Courses>.DataPageText>p>span:nth-child(3)>p>span:nth-child(4),
.Courses>.DataPageText>p>span:nth-child(3)>p>span:nth-child(6),
.Courses>.DataPageText>p>span:nth-child(3)>p>span:nth-child(13),
.Courses>.DataPageText>p>span:nth-child(3)>p>span:nth-child(28),
.Courses>.DataPageText>p>span:nth-child(3)>p>span:nth-child(31),
.Courses>.DataPageText>p>span:nth-child(4)>p>span:nth-child(1),
.Courses>.DataPageText>p>span:nth-child(4)>p>span:nth-child(7),
.Courses>.DataPageText>p>span:nth-child(4)>p>span:nth-child(11),
.Courses>.DataPageText>p>span:nth-child(4)>p>span:nth-child(13),
.Courses>.DataPageText>p>span:nth-child(4)>p>span:nth-child(23),
.Courses>.DataPageText>p>span:nth-child(4)>p>span:nth-child(25){
    color: brown;
    font-weight: bold;
}

.CourseSchedule>.DataPageText>p>span:nth-child(1),
.CourseSchedule>.DataPageText>p>span:nth-child(2),
.CourseSchedule>.DataPageText>p>span:nth-child(4),
.CourseSchedule>.DataPageText>p>span:nth-child(6),
.CourseSchedule>.DataPageText>p>span:nth-child(8){
    color: brown;
}

.Projects>.DataPageText>p>span:nth-child(3)>p>span:nth-child(1),
.Projects>.DataPageText>p>span:nth-child(3)>p>span:nth-child(3){
    color: brown;
}

.Online>.DataPageText>p>span:nth-child(1)>p>span:nth-child(1){
    color: brown;
}

.Group>.DataPageText>p>span img{
    width: 100px;
}

.StudentAssociation>.DataPageText>p,
.Entertainment>.DataPageText>p,
.Academy>.DataPageText>p,
.ArtisticDesign>.DataPageText>p,
.NewStudentSchedule>.DataPageText>p,
.Necessities>.DataPageText>p,
.AccommodationSchedule>.DataPageText>p,
.BasicInfoLogin>.DataPageText>p,
.CourseSchedule>.DataPageText>p,
.Projects>.DataPageText>p,
.Projects>.DataPageText>p>span>p,
.CourseSelection>.DataPageText>p,
.CourseSelection>.DataPageText>p>span>p,
.Courses>.DataPageText>p,
.Courses>.DataPageText>p>span>p,
.Online>.DataPageText>p,
.Online>.DataPageText>p>span>p,
.Questions>.DataPageText>p,
.Questions>.DataPageText>p>span>p
{
    text-align: left;
}